<link rel="stylesheet" href="../static/global_style.css">


<title>HOLDER REPORT</title>


<h1>REPORT:</h1>
<pre>
API KEY : {{holder.api_key}}
</pre>

<h2>external trans</h2>
{% for i1 in holder.external_trans_request %}
<h1>
    <pre>
    internet_address_of_sender : {{i1.internet_address_of_sender}}
    api_key_of_sender : {{i1.api_key_of_sender}}
    uuid : {{i1.uuid}}
    data : {{i1.data}}
    state : {{i1.state}}
    </pre>
</h1>
{% endfor %}

<h2>internal trans</h2>
{% for i1 in holder.external_trans_request %}
<h1>
    <pre>
    data : {{data}}
    uuid : {{uuid}}
    approvers : {{approvers}}
    </pre>
</h1>
{% endfor %}


<h2>internal trans</h2>
{% for i1 in holder.internal_trans %}
<h1>
    <pre>
    data : {{data}}
    uuid : {{uuid}}
    approvers : {{approvers}}
    </pre>
</h1>
{% endfor %}


<h2>chain</h2>
{% for i1 in holder.internal_trans %}
<h1>
    <pre>
    index : {{index}}
    data : {{data}}
    unix : {{unix}}
    nonce : {{nonce}}
    prevhash : {{prevhash}}
    </pre>
</h1>
{% endfor %}



<h2>Holders</h2>
{% for i1 in holder.internal_trans %}
<h1>
    <pre>
    internet_address : {{internet_address}}
    api_key : {{api_key}}
    </pre>
</h1>
{% endfor %}
